workflows/celiio_info_log_v4.json
{
  "name": "celiio_info_log_v4",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "S7SVuJd21M3G7fPB",
          "mode": "list",
          "cachedResultName": "chat_ids",
          "cachedResultUrl": "/projects/y8Q7OOWCDMU3UYgP/datatables/S7SVuJd21M3G7fPB"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "title",
              "keyValue": "admin"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -832,
        144
      ],
      "id": "126aec66-7adc-4ddb-bfcf-d74f911b996f",
      "name": "Get admin chat_id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "499417a4-316b-4c93-a57c-a11ec77f31e4",
              "name": "admin_chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        144
      ],
      "id": "f5ad30ef-ac7e-4f5c-b0cf-97173ff7368a",
      "name": "Parse admin chat_id"
    },
    {
      "parameters": {
        "chatId": "={{ $json.admin_chat_id }}",
        "text": "=Error on n8n.\n\n<b>execution</b>\n<code>\n{{ $json.execution }}\n</code>\n<b>workflow</b>\n<code>\n{{ $json.workflow }}\n</code>\n<b>trigger</b>\n<code>\n{{ $json.trigger }}\n</code>",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        0
      ],
      "id": "f4dffe02-1a46-4e69-a714-57c4c3a7299e",
      "name": "Warn Admin on Telegram",
      "webhookId": "d4924726-5720-441a-a509-fc602d4983f5",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "Zs6IO0L7GKnNCG4s",
          "name": "Ceres"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "S7SVuJd21M3G7fPB",
          "mode": "list",
          "cachedResultName": "chat_ids",
          "cachedResultUrl": "/projects/y8Q7OOWCDMU3UYgP/datatables/S7SVuJd21M3G7fPB"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "title",
              "keyValue": "debug"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2176,
        -32
      ],
      "id": "59de7a21-8da0-44d5-9810-1576098d46f1",
      "name": "Get debug chat_id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "499417a4-316b-4c93-a57c-a11ec77f31e4",
              "name": "debug_chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1952,
        -32
      ],
      "id": "317c2ba7-8a77-4775-b611-5c7fda4abee5",
      "name": "Parse debug chat_id"
    },
    {
      "parameters": {
        "chatId": "={{ $json.debug_chat_id }}",
        "text": "=Error on n8n.\n\n<b>execution</b>\n<code>\n{{ $json.execution }}\n</code>\n<b>workflow</b>\n<code>\n{{ $json.workflow }}\n</code>\n<b>trigger</b>\n<code>\n{{ $json.trigger }}\n</code>",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1504,
        -112
      ],
      "id": "a6869b66-310f-41bb-ac32-0bd474e155f0",
      "name": "Log Error on Telegram",
      "webhookId": "d4924726-5720-441a-a509-fc602d4983f5",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "Zs6IO0L7GKnNCG4s",
          "name": "Ceres"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3968,
        -304
      ],
      "id": "02ff990d-b7f6-4982-b7a6-a3b6d3416aec",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2400,
        -112
      ],
      "id": "504bd488-9351-4bf8-be85-347733363cd5",
      "name": "Debug Telegram Log"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1056,
        0
      ],
      "id": "4edda565-f1d5-43cd-a0db-91cd738faa0d",
      "name": "Admin Telegram Log"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3744,
        -304
      ],
      "id": "b7a902d2-8bef-4cf5-b70c-771410ac7b5a",
      "name": "Info Telegram Log"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "S7SVuJd21M3G7fPB",
          "mode": "list",
          "cachedResultName": "chat_ids",
          "cachedResultUrl": "/projects/y8Q7OOWCDMU3UYgP/datatables/S7SVuJd21M3G7fPB"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "title",
              "keyValue": "info"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -3520,
        -224
      ],
      "id": "2a1ddc5f-bf97-47b0-86a3-27d07e21d19e",
      "name": "Get info chat_id"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -384,
        0
      ],
      "id": "c8315925-2369-4ada-9e8c-bdfd03bdf9dd",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3072,
        -304
      ],
      "id": "2606b72b-3b6e-4b6a-b447-275330f603a7",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1728,
        -112
      ],
      "id": "1bd53614-4e77-4bb1-8bf5-80ba9381dcc1",
      "name": "Merge1"
    },
    {
      "parameters": {
        "amount": "={{  $json.error.substring(31) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1056,
        -192
      ],
      "id": "8e5664b9-bdcf-44aa-abe3-7e27d5b2f087",
      "name": "Wait1",
      "webhookId": "6aa8c20c-f349-4959-996f-87ba7c1c841c"
    },
    {
      "parameters": {
        "amount": "={{  $json.error.substring(31) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2400,
        -304
      ],
      "id": "bd74aef9-3f4f-4559-a9b3-ae28465804a3",
      "name": "Wait",
      "webhookId": "6aa8c20c-f349-4959-996f-87ba7c1c841c"
    },
    {
      "parameters": {
        "amount": "={{  $json.error.substring(31) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        288,
        0
      ],
      "id": "679b10d7-3c79-45e0-8a11-31c1ca65d1a7",
      "name": "Wait2",
      "webhookId": "6aa8c20c-f349-4959-996f-87ba7c1c841c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Too Many Requests: retry after",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "e369bd3a-a109-4c8d-bf1e-8b147409426c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retry after"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08e1a4cc-f1cb-4c05-aa0b-7630e0f7ecdd",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Bad Request: message to be replied not found",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4a62f517-da6c-42c5-bdb8-54d037008b80",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Bad Request: chat not found",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "043e519c-850c-4ff8-b4ce-652ebcbf72f1",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Forbidden: bot was kicked from the supergroup chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not found (kicked)"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        64,
        -32
      ],
      "id": "2271de00-573c-45d6-94d0-fb7a585b7263",
      "name": "Telegram Error Handling for Message6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Too Many Requests: retry after",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "e369bd3a-a109-4c8d-bf1e-8b147409426c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retry after"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08e1a4cc-f1cb-4c05-aa0b-7630e0f7ecdd",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Bad Request: message to be replied not found",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4a62f517-da6c-42c5-bdb8-54d037008b80",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Bad Request: chat not found",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "043e519c-850c-4ff8-b4ce-652ebcbf72f1",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Forbidden: bot was kicked from the supergroup chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not found (kicked)"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1280,
        -224
      ],
      "id": "b6ce833b-63ff-4727-8197-b997781eb936",
      "name": "Telegram Error Handling for Message1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Too Many Requests: retry after",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "e369bd3a-a109-4c8d-bf1e-8b147409426c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retry after"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08e1a4cc-f1cb-4c05-aa0b-7630e0f7ecdd",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Bad Request: message to be replied not found",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4a62f517-da6c-42c5-bdb8-54d037008b80",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Bad Request: chat not found",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "043e519c-850c-4ff8-b4ce-652ebcbf72f1",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Forbidden: bot was kicked from the supergroup chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not found (kicked)"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2624,
        -416
      ],
      "id": "cb231828-d8dc-41e8-8213-5013af159ac8",
      "name": "Telegram Error Handling for Message"
    },
    {
      "parameters": {
        "chatId": "={{ $json.debug_chat_id }}",
        "text": "=Error on n8n.\n\n<b>execution</b>\n<code>\n{{ $json.execution }}\n</code>\n<b>workflow</b>\n<code>\n{{ $json.workflow }}\n</code>\n<b>trigger</b>\n<code>\n{{ $json.trigger }}\n</code>",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2848,
        -304
      ],
      "id": "29534f5f-7bf5-489c-bf48-66ef23add6a7",
      "name": "Log Info on Telegram",
      "webhookId": "d4924726-5720-441a-a509-fc602d4983f5",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "Zs6IO0L7GKnNCG4s",
          "name": "Ceres"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "499417a4-316b-4c93-a57c-a11ec77f31e4",
              "name": "info_chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3296,
        -224
      ],
      "id": "56f79317-06dd-4f5d-b4f0-b399276d5412",
      "name": "Parse info chat_id"
    }
  ],
  "pinData": {},
  "connections": {
    "Get admin chat_id": {
      "main": [
        [
          {
            "node": "Parse admin chat_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse admin chat_id": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Warn Admin on Telegram": {
      "main": [
        [],
        [
          {
            "node": "Telegram Error Handling for Message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get debug chat_id": {
      "main": [
        [
          {
            "node": "Parse debug chat_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse debug chat_id": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Log Error on Telegram": {
      "main": [
        [],
        [
          {
            "node": "Telegram Error Handling for Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Info Telegram Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Telegram Log": {
      "main": [
        [
          {
            "node": "Get debug chat_id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Telegram Log": {
      "main": [
        [
          {
            "node": "Get admin chat_id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info Telegram Log": {
      "main": [
        [
          {
            "node": "Get info chat_id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get info chat_id": {
      "main": [
        [
          {
            "node": "Parse info chat_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Warn Admin on Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Log Info on Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Log Error on Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Log Error on Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Log Info on Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Warn Admin on Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Error Handling for Message6": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Error Handling for Message1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Admin Telegram Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin Telegram Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Error Handling for Message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Debug Telegram Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Debug Telegram Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Info on Telegram": {
      "main": [
        [],
        [
          {
            "node": "Telegram Error Handling for Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse info chat_id": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6f0aeab8-e50e-4c68-88da-921ef45b1109",
  "meta": {
    "instanceId": "261c369b8261e7dfd8103a0eed15ee25bf9ab164c4bacfa3dc09d361412c6130"
  },
  "id": "0o8rrSgCp5iSMV4f",
  "tags": []
}