workflows/celiio_n8n-error-log_v4.json
{
  "name": "celiio_n8n-error-log_v4",
  "nodes": [
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16,
        -80
      ],
      "id": "407729b7-cfcd-4e5a-b892-6de5a4e5b475",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "S7SVuJd21M3G7fPB",
          "mode": "list",
          "cachedResultName": "chat_ids",
          "cachedResultUrl": "/projects/y8Q7OOWCDMU3UYgP/datatables/S7SVuJd21M3G7fPB"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "title",
              "keyValue": "admin"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -432,
        64
      ],
      "id": "ffe406c6-331f-4c23-b06a-8496dd956ade",
      "name": "Get admin chat_id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "499417a4-316b-4c93-a57c-a11ec77f31e4",
              "name": "admin_chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        64
      ],
      "id": "a64c794c-ff6c-4330-a400-96d21eec0274",
      "name": "Parse admin chat_id"
    },
    {
      "parameters": {
        "chatId": "={{ $json.admin_chat_id }}",
        "text": "=Error on n8n.\n\n<b>execution</b>\n<code>\n{{ $json.execution }}\n</code>\n<b>workflow</b>\n<code>\n{{ $json.workflow }}\n</code>\n<b>trigger</b>\n<code>\n{{ $json.trigger }}\n</code>",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        -80
      ],
      "id": "d519ce02-c000-40b5-92f8-09995b108b66",
      "name": "Warn Admin on Telegram",
      "webhookId": "d4924726-5720-441a-a509-fc602d4983f5",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "Zs6IO0L7GKnNCG4s",
          "name": "Ceres"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Too Many Requests: retry after",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "e369bd3a-a109-4c8d-bf1e-8b147409426c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retry after"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08e1a4cc-f1cb-4c05-aa0b-7630e0f7ecdd",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Bad Request: message to be replied not found",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4a62f517-da6c-42c5-bdb8-54d037008b80",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Bad Request: chat not found",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "043e519c-850c-4ff8-b4ce-652ebcbf72f1",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Forbidden: bot was kicked from the supergroup chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not found (kicked)"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        464,
        -112
      ],
      "id": "137c2658-f1b3-4e10-83d3-fd7554560716",
      "name": "Telegram Error Handling for Message1"
    },
    {
      "parameters": {
        "amount": "={{  $json.error.substring(31) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        688,
        -80
      ],
      "id": "c1474fd4-13f5-41f6-9982-5e8c24c0a6d1",
      "name": "Wait1",
      "webhookId": "6aa8c20c-f349-4959-996f-87ba7c1c841c"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1328,
        -192
      ],
      "id": "6b902fe2-3ca0-4223-8566-0eb58c6790a8",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "S7SVuJd21M3G7fPB",
          "mode": "list",
          "cachedResultName": "chat_ids",
          "cachedResultUrl": "/projects/y8Q7OOWCDMU3UYgP/datatables/S7SVuJd21M3G7fPB"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "title",
              "keyValue": "debug"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1776,
        -112
      ],
      "id": "f38da012-b99d-4395-8c9a-89b022cf651c",
      "name": "Get debug chat_id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "499417a4-316b-4c93-a57c-a11ec77f31e4",
              "name": "debug_chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1552,
        -112
      ],
      "id": "538746fb-bb12-4bf4-8cad-f04cf160d594",
      "name": "Parse debug chat_id"
    },
    {
      "parameters": {
        "chatId": "={{ $json.debug_chat_id }}",
        "text": "=Error on n8n.\n\n<b>execution</b>\n<code>\n{{ $json.execution }}\n</code>\n<b>workflow</b>\n<code>\n{{ $json.workflow }}\n</code>\n<b>trigger</b>\n<code>\n{{ $json.trigger }}\n</code>",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1104,
        -192
      ],
      "id": "ce2a7b62-1ce2-4626-83d9-36ae0b256cff",
      "name": "Log Error on Telegram",
      "webhookId": "d4924726-5720-441a-a509-fc602d4983f5",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "Zs6IO0L7GKnNCG4s",
          "name": "Ceres"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2224,
        -192
      ],
      "id": "31adf290-16ee-4ef2-b53f-be3b750a5ff4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Too Many Requests: retry after",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "e369bd3a-a109-4c8d-bf1e-8b147409426c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retry after"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08e1a4cc-f1cb-4c05-aa0b-7630e0f7ecdd",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Bad Request: message to be replied not found",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4a62f517-da6c-42c5-bdb8-54d037008b80",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Bad Request: chat not found",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "043e519c-850c-4ff8-b4ce-652ebcbf72f1",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "Forbidden: bot was kicked from the supergroup chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not found (kicked)"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -880,
        -304
      ],
      "id": "0b846660-a03c-4be2-90f3-40ddb98ba62d",
      "name": "Telegram Error Handling for Message"
    },
    {
      "parameters": {
        "amount": "={{  $json.error.substring(31) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -656,
        -272
      ],
      "id": "a12a4fb7-2566-4469-af49-8eb7b295fe19",
      "name": "Wait",
      "webhookId": "6aa8c20c-f349-4959-996f-87ba7c1c841c"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2000,
        -192
      ],
      "id": "c09ed113-ea09-4101-ba93-a42fee19a293",
      "name": "Debug Telegram Log"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -656,
        -80
      ],
      "id": "3cc52d50-a9b5-45e8-977f-e79fe8f4ce2a",
      "name": "Admin Telegram Log"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge1": {
      "main": [
        [
          {
            "node": "Warn Admin on Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get admin chat_id": {
      "main": [
        [
          {
            "node": "Parse admin chat_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse admin chat_id": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Warn Admin on Telegram": {
      "main": [
        [],
        [
          {
            "node": "Telegram Error Handling for Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Error Handling for Message1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Warn Admin on Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get debug chat_id": {
      "main": [
        [
          {
            "node": "Parse debug chat_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse debug chat_id": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Log Error on Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Debug Telegram Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Error Handling for Message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Admin Telegram Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin Telegram Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error on Telegram": {
      "main": [
        [],
        [
          {
            "node": "Telegram Error Handling for Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Log Error on Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Telegram Log": {
      "main": [
        [
          {
            "node": "Get debug chat_id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Telegram Log": {
      "main": [
        [
          {
            "node": "Get admin chat_id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b26ecb4e-9970-4d4b-a430-0e27fee64ee1",
  "meta": {
    "instanceId": "261c369b8261e7dfd8103a0eed15ee25bf9ab164c4bacfa3dc09d361412c6130"
  },
  "id": "dVW99SGwXJP8XWri",
  "tags": []
}