workflows/celiio_step0_v4.json
{
  "name": "celiio_step0_v4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        -272
      ],
      "id": "1621b30c-bd08-4529-bf7f-a37dd7b61d10",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $json.accessToken }}/getMe",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -224,
        -80
      ],
      "id": "9259c7e1-4096-4640-b9ad-58c39ffafe38",
      "name": "Ceres Request",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "nodeCredentialType": "telegramApi"
      },
      "type": "n8n-nodes-unsafe-extract-credentials.ExtractCredentials",
      "typeVersion": 1,
      "position": [
        -448,
        -80
      ],
      "id": "40362167-2889-4986-8394-541a2e5da280",
      "name": "Ceres Credentials",
      "credentials": {
        "telegramApi": {
          "id": "Zs6IO0L7GKnNCG4s",
          "name": "Ceres"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $json.accessToken }}/getMe",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -224,
        -272
      ],
      "id": "ed64dc49-281d-4e28-96d7-6abeb6e21831",
      "name": "Lithos Request",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "nodeCredentialType": "telegramApi"
      },
      "type": "n8n-nodes-unsafe-extract-credentials.ExtractCredentials",
      "typeVersion": 1,
      "position": [
        -448,
        -272
      ],
      "id": "1120d1b2-e393-4e08-a1d2-de376fa598b8",
      "name": "Lithos Credentials",
      "credentials": {
        "telegramApi": {
          "id": "4gYEYYyYib1XSTfh",
          "name": "Lithos"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $json.accessToken }}/getMe",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -224,
        112
      ],
      "id": "77eddb6c-5332-4177-8ed8-e2665600e3b2",
      "name": "Iodes Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "nodeCredentialType": "telegramApi"
      },
      "type": "n8n-nodes-unsafe-extract-credentials.ExtractCredentials",
      "typeVersion": 1,
      "position": [
        -448,
        112
      ],
      "id": "29e9d366-8613-4dba-8a73-18574dfbb20a",
      "name": "Iodes Credentials",
      "credentials": {
        "telegramApi": {
          "id": "xX83j0976UXp2Mnl",
          "name": "Iodes"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "S7SVuJd21M3G7fPB",
          "mode": "list",
          "cachedResultName": "chat_ids",
          "cachedResultUrl": "/projects/y8Q7OOWCDMU3UYgP/datatables/S7SVuJd21M3G7fPB"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "title",
              "keyValue": "={{ $json.title }}"
            },
            {
              "keyName": "chat_id",
              "keyValue": "={{ $json.chat_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "title": "={{ $json.title }}",
            "chat_id": "={{ $json.chat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        224,
        -464
      ],
      "id": "d781c619-383a-4165-bf19-24bf3199942a",
      "name": "Populate chat_ids"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.chat_ids",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        0,
        -464
      ],
      "id": "90c5c03d-df6b-49f5-a104-a3bb9be82b7f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        -464
      ],
      "id": "0537b4cb-6ff9-47ad-85f4-2a12ad6399b5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fileSelector": "../uploads/import.json",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -448,
        -464
      ],
      "id": "046b57df-f69a-4383-a450-c3a6c2b065eb",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "79zHpN094Qxc7zFn",
          "mode": "list",
          "cachedResultName": "bot_ids",
          "cachedResultUrl": "/projects/y8Q7OOWCDMU3UYgP/datatables/79zHpN094Qxc7zFn"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "bot_name",
              "keyValue": "={{ $json.result.first_name }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "bot_id": "={{ $json.result.id }}",
            "bot_name": "={{ $json.result.first_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "bot_name",
              "displayName": "bot_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bot_id",
              "displayName": "bot_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        0,
        -80
      ],
      "id": "03795355-e51e-4f36-8adf-efd6ac7e5cc7",
      "name": "Populate bot_ids"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "ReMtvsSX6VOF5eIO",
          "mode": "list",
          "cachedResultName": "meta",
          "cachedResultUrl": "/projects/y8Q7OOWCDMU3UYgP/datatables/ReMtvsSX6VOF5eIO"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "start_from",
              "condition": "isEmpty"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "start_from": "={{ DateTime.now() }}"
          },
          "matchingColumns": [
            "start_from"
          ],
          "schema": [
            {
              "id": "start_from",
              "displayName": "start_from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -448,
        -656
      ],
      "id": "08bef718-d678-4451-b0c4-67d4fac514f9",
      "name": "Create starting date"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Ceres Credentials",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lithos Credentials",
            "type": "main",
            "index": 0
          },
          {
            "node": "Iodes Credentials",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create starting date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ceres Credentials": {
      "main": [
        [
          {
            "node": "Ceres Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lithos Credentials": {
      "main": [
        [
          {
            "node": "Lithos Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iodes Credentials": {
      "main": [
        [
          {
            "node": "Iodes Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lithos Request": {
      "main": [
        [
          {
            "node": "Populate bot_ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ceres Request": {
      "main": [
        [
          {
            "node": "Populate bot_ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iodes Request": {
      "main": [
        [
          {
            "node": "Populate bot_ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Populate chat_ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c3983a5c-e85e-44a1-8dd2-88d756e7e5cb",
  "meta": {
    "instanceId": "261c369b8261e7dfd8103a0eed15ee25bf9ab164c4bacfa3dc09d361412c6130"
  },
  "id": "GSdau27fS6yi5vOx",
  "tags": []
}