workflows/simple-telegram-bot.json
{
  "name": "Simple Telegram Multi-Agent Bot",
  "nodes": [
    {
      "parameters": {
        "authentication": "accessToken",
        "accessToken": "={{$env.TELEGRAM_BOT_TOKEN_1}}",
        "updates": ["message"]
      },
      "id": "1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.text}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "2",
      "name": "Filter Text Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Assign agents\nconst agents = [\n  {\n    name: 'Alpha',\n    prompt: 'You are a professional and analytical assistant. Be clear and concise.'\n  },\n  {\n    name: 'Beta',\n    prompt: 'You are a friendly and warm assistant. Be conversational and supportive.'\n  },\n  {\n    name: 'Gamma',\n    prompt: 'You are a creative assistant. Think outside the box and use metaphors.'\n  }\n];\n\nconst chatId = $json.message.chat.id;\nconst agentIndex = Math.abs(chatId) % 3;\nconst agent = agents[agentIndex];\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_text: $json.message.text,\n    user_name: $json.message.from.first_name || 'User',\n    agent_name: agent.name,\n    agent_prompt: agent.prompt\n  }\n};"
      },
      "id": "3",
      "name": "Assign Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{$env.LLM_MODEL}}:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendBody": true,
        "contentType": "json",
        "bodyParametersJson": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"{{$json.agent_prompt}}\\n\\nUser {{$json.user_name}} says: {{$json.message_text}}\\n\\nRespond naturally as the agent.\"\n    }]\n  }]\n}",
        "options": {}
      },
      "id": "4",
      "name": "Call Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [840, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $json.candidates?.[0]?.content?.parts?.[0]?.text || 'Sorry, I could not process your request.';\n\nreturn {\n  json: {\n    ...$$node[\"Assign Agent\"].json,\n    response_text: response\n  }\n};"
      },
      "id": "5",
      "name": "Extract Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "accessToken": "={{$env.TELEGRAM_BOT_TOKEN_1}}",
        "chatId": "={{$json.chat_id}}",
        "text": "={{$json.response_text}}",
        "additionalFields": {}
      },
      "id": "6",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1240, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Filter Text Only", "type": "main", "index": 0}]]
    },
    "Filter Text Only": {
      "main": [[{"node": "Assign Agent", "type": "main", "index": 0}]]
    },
    "Assign Agent": {
      "main": [[{"node": "Call Gemini", "type": "main", "index": 0}]]
    },
    "Call Gemini": {
      "main": [[{"node": "Extract Response", "type": "main", "index": 0}]]
    },
    "Extract Response": {
      "main": [[{"node": "Send Reply", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-15T18:35:00.000Z",
  "versionId": "1"
}
