workflows/telegram-multi-agent-long-polling.json
{
  "name": "Telegram Multi-Agent Long-Polling Bot",
  "nodes": [
    {
      "parameters": {
        "cronExpression": "*/1 * * * *",
        "triggerOnce": false
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        160,
        120
      ]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "accessToken": "={{$env.TELEGRAM_BOT_TOKEN_1}}",
        "updates": [
          "message"
        ],
        "options": {
          "pollingInterval": 1
        }
      },
      "id": "telegram-trigger-bot-1",
      "name": "Telegram Bot 1 (Polling)",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        360,
        120
      ]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "accessToken": "={{$env.TELEGRAM_BOT_TOKEN_2}}",
        "updates": [
          "message"
        ],
        "options": {
          "pollingInterval": 1
        }
      },
      "id": "telegram-trigger-bot-2",
      "name": "Telegram Bot 2 (Polling)",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        360,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "accessToken": "={{$env.TELEGRAM_BOT_TOKEN_3}}",
        "updates": [
          "message"
        ],
        "options": {
          "pollingInterval": 1
        }
      },
      "id": "telegram-trigger-bot-3",
      "name": "Telegram Bot 3 (Polling)",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        360,
        480
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "bot_token",
              "value": "={{$env.TELEGRAM_BOT_TOKEN_1}}"
            },
            {
              "name": "bot_label",
              "value": "bot_1"
            }
          ]
        },
        "options": {
          "keepOnlySet": false
        }
      },
      "id": "set-metadata-bot-1",
      "name": "Set Bot 1 Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        560,
        120
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "bot_token",
              "value": "={{$env.TELEGRAM_BOT_TOKEN_2}}"
            },
            {
              "name": "bot_label",
              "value": "bot_2"
            }
          ]
        },
        "options": {
          "keepOnlySet": false
        }
      },
      "id": "set-metadata-bot-2",
      "name": "Set Bot 2 Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "bot_token",
              "value": "={{$env.TELEGRAM_BOT_TOKEN_3}}"
            },
            {
              "name": "bot_label",
              "value": "bot_3"
            }
          ]
        },
        "options": {
          "keepOnlySet": false
        }
      },
      "id": "set-metadata-bot-3",
      "name": "Set Bot 3 Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        560,
        480
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-updates",
      "name": "Merge Incoming Updates",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message?.text}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "filter-text-messages",
      "name": "Filter Text Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\nconst message = item.message;\n\nconst agents = [\n  {\n    name: 'Agent Alpha',\n    personality: 'professional',\n    systemPrompt: `You are Agent Alpha, a professional and analytical AI assistant. You provide clear, concise, and well-structured responses. You focus on facts and logical reasoning.`\n  },\n  {\n    name: 'Agent Beta',\n    personality: 'friendly',\n    systemPrompt: `You are Agent Beta, a friendly and empathetic AI assistant. You are warm, conversational, and use casual language. You care about the user's feelings and provide supportive responses.`\n  },\n  {\n    name: 'Agent Gamma',\n    personality: 'creative',\n    systemPrompt: `You are Agent Gamma, a creative and imaginative AI assistant. You think outside the box, use metaphors and analogies, and provide unique perspectives. You enjoy wordplay and creative solutions.`\n  }\n];\n\nfunction hashChatId(chatId) {\n  const str = String(chatId);\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) - hash) + str.charCodeAt(i);\n    hash = hash & hash;\n  }\n  return Math.abs(hash);\n}\n\nconst agentIndex = hashChatId(message.chat.id) % agents.length;\nconst agent = agents[agentIndex];\n\nreturn [{\n  json: {\n    bot_token: item.bot_token,\n    bot_label: item.bot_label,\n    update_id: item.update_id,\n    message_id: message.message_id,\n    chat_id: message.chat.id,\n    chat_type: message.chat.type || 'private',\n    user_id: message.from.id,\n    username: message.from.username || null,\n    first_name: message.from.first_name || null,\n    last_name: message.from.last_name || null,\n    message_text: message.text,\n    message_date: new Date(message.date * 1000).toISOString(),\n    raw_message: item,\n    agent_name: agent.name,\n    agent_personality: agent.personality,\n    agent_system_prompt: agent.systemPrompt\n  }\n}];"
      },
      "id": "prepare-message",
      "name": "Prepare Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO telegram_updates (\n  bot_token,\n  update_id,\n  message_id,\n  chat_id,\n  user_id,\n  username,\n  first_name,\n  last_name,\n  message_text,\n  message_type,\n  message_date,\n  raw_data\n) VALUES (\n  '{{$json.bot_token}}',\n  {{$json.update_id}},\n  {{$json.message_id}},\n  {{$json.chat_id}},\n  {{$json.user_id}},\n  '{{$json.username}}',\n  '{{$json.first_name}}',\n  '{{$json.last_name}}',\n  '{{$json.message_text.replace(/'/g, \"''\")}}',\n  'text',\n  '{{$json.message_date}}',\n  '{{JSON.stringify($json.raw_message).replace(/'/g, \"''\")}}'\n)\nON CONFLICT (bot_token, update_id) DO UPDATE\nSET message_text = EXCLUDED.message_text\nRETURNING id;"
      },
      "id": "store-update",
      "name": "Store Telegram Update",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1360,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $node['Prepare Message'].json;\nconst record = $input.first()?.json || {};\nreturn [{\n  json: {\n    ...base,\n    telegram_update_row_id: record.id || record.id_0 || null\n  }\n}];"
      },
      "id": "combine-update-data",
      "name": "Combine Update Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(\n  JSON_AGG(\n    JSON_BUILD_OBJECT(\n      'message_role', message_role,\n      'message_content', message_content,\n      'message_timestamp', message_timestamp\n    )\n    ORDER BY message_timestamp ASC\n  ), '[]'::json) AS memories\nFROM agent_memory\nWHERE agent_name = '{{$json.agent_name}}'\n  AND chat_id = {{$json.chat_id}}\n  AND expires_at > NOW()\n  AND message_timestamp > NOW() - INTERVAL '1 hour';"
      },
      "id": "get-agent-memory",
      "name": "Get Agent Memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1760,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $node['Combine Update Data'].json;\nconst memoryRow = $input.first()?.json || { memories: [] };\nconst memories = Array.isArray(memoryRow.memories) ? memoryRow.memories : [];\n\nconst conversation = [];\n\nmemories.forEach((entry) => {\n  if (!entry.message_role || !entry.message_content) return;\n  const role = entry.message_role === 'assistant' ? 'assistant' : 'user';\n  conversation.push({ role, content: entry.message_content });\n});\n\nconversation.push({ role: 'user', content: base.message_text });\n\nconst systemPrompt = `${base.agent_system_prompt}\n\nYou are replying to ${base.first_name || 'the user'}. Maintain the agent personality at all times.`;\n\nreturn [{\n  json: {\n    ...base,\n    conversation_memory: memories,\n    llm_messages: [\n      { role: 'system', content: systemPrompt },\n      ...conversation\n    ]\n  }\n}];"
      },
      "id": "build-llm-payload",
      "name": "Build LLM Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/chat/completions",
        "sendBody": true,
        "jsonParameters": false,
        "bodyParametersJson": "={{JSON.stringify({ model: $env.LLM_MODEL || 'gpt-3.5-turbo', messages: $json.llm_messages, temperature: 0.7, max_tokens: 400 })}}",
        "options": {
          "timeout": 30
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "call-openai",
      "name": "Call OpenAI Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1960,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nconst base = $node['Build LLM Payload'].json;\n\nlet content = 'Sorry, I could not generate a response right now.';\nlet promptTokens = 0;\nlet completionTokens = 0;\n\nif (response.choices && response.choices[0] && response.choices[0].message) {\n  content = response.choices[0].message.content || content;\n}\n\nif (response.usage) {\n  promptTokens = response.usage.prompt_tokens || 0;\n  completionTokens = response.usage.completion_tokens || 0;\n}\n\nreturn [{\n  json: {\n    ...base,\n    llm_response: content.trim(),\n    prompt_tokens: promptTokens,\n    completion_tokens: completionTokens,\n    total_tokens: promptTokens + completionTokens\n  }\n}];"
      },
      "id": "extract-llm-response",
      "name": "Extract LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agent_responses (\n  update_id,\n  agent_name,\n  agent_personality,\n  response_text,\n  llm_model,\n  prompt_tokens,\n  completion_tokens\n) VALUES (\n  (SELECT id FROM telegram_updates WHERE bot_token = '{{$json.bot_token}}' AND update_id = {{$json.update_id}} LIMIT 1),\n  '{{$json.agent_name}}',\n  '{{$json.agent_personality}}',\n  '{{$json.llm_response.replace(/'/g, \"''\")}}',\n  '{{$env.LLM_MODEL || \"gpt-3.5-turbo\"}}',\n  {{$json.prompt_tokens}},\n  {{$json.completion_tokens}}\n)\nRETURNING id;"
      },
      "id": "store-agent-response",
      "name": "Store Agent Response",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2360,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $node['Extract LLM Response'].json;\nconst result = $input.first()?.json || {};\nreturn [{\n  json: {\n    ...base,\n    agent_response_id: result.id || result.id_0 || null\n  }\n}];"
      },
      "id": "combine-response-data",
      "name": "Combine Response Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$json.bot_token}}/sendMessage",
        "sendBody": true,
        "bodyParametersJson": "={{JSON.stringify({ chat_id: $json.chat_id, text: $json.llm_response, reply_to_message_id: $json.message_id })}}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "send-telegram-reply",
      "name": "Send Telegram Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2760,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $node['Combine Response Data'].json;\nconst sendResult = $json;\n\nconst telegramMessageId = sendResult.result?.message_id || null;\nreturn [{\n  json: {\n    ...base,\n    telegram_message_id: telegramMessageId\n  }\n}];"
      },
      "id": "finalize-response",
      "name": "Finalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE agent_responses\nSET sent_successfully = true,\n    telegram_message_id = {{$json.telegram_message_id}}\nWHERE id = {{$json.agent_response_id}};"
      },
      "id": "mark-response-sent",
      "name": "Mark Response Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        3160,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agent_memory (\n  agent_name,\n  chat_id,\n  message_role,\n  message_content,\n  message_timestamp,\n  expires_at\n) VALUES\n(\n  '{{$json.agent_name}}',\n  {{$json.chat_id}},\n  'user',\n  '{{$json.message_text.replace(/'/g, \"''\")}}',\n  NOW(),\n  NOW() + INTERVAL '1 hour'\n),\n(\n  '{{$json.agent_name}}',\n  {{$json.chat_id}},\n  'assistant',\n  '{{$json.llm_response.replace(/'/g, \"''\")}}',\n  NOW(),\n  NOW() + INTERVAL '1 hour'\n);"
      },
      "id": "update-agent-memory",
      "name": "Update Agent Memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        3160,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Telegram Bot 1 (Polling)": {
      "main": [
        [
          {
            "node": "Set Bot 1 Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Bot 2 (Polling)": {
      "main": [
        [
          {
            "node": "Set Bot 2 Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Bot 3 (Polling)": {
      "main": [
        [
          {
            "node": "Set Bot 3 Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bot 1 Metadata": {
      "main": [
        [
          {
            "node": "Merge Incoming Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bot 2 Metadata": {
      "main": [
        [
          {
            "node": "Merge Incoming Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bot 3 Metadata": {
      "main": [
        [
          {
            "node": "Merge Incoming Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Incoming Updates": {
      "main": [
        [
          {
            "node": "Filter Text Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Text Messages": {
      "main": [
        [
          {
            "node": "Prepare Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message": {
      "main": [
        [
          {
            "node": "Store Telegram Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Telegram Update": {
      "main": [
        [
          {
            "node": "Combine Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Update Data": {
      "main": [
        [
          {
            "node": "Get Agent Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Agent Memory": {
      "main": [
        [
          {
            "node": "Build LLM Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Payload": {
      "main": [
        [
          {
            "node": "Call OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI Chat": {
      "main": [
        [
          {
            "node": "Extract LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract LLM Response": {
      "main": [
        [
          {
            "node": "Store Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Agent Response": {
      "main": [
        [
          {
            "node": "Combine Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Response Data": {
      "main": [
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Reply": {
      "main": [
        [
          {
            "node": "Finalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Response": {
      "main": [
        [
          {
            "node": "Mark Response Sent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Agent Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "={{$env.GENERIC_TIMEZONE || $env.TZ || 'UTC'}}"
  },
  "staticData": null,
  "tags": [
    {
      "name": "telegram"
    },
    {
      "name": "multi-agent"
    }
  ],
  "triggerCount": 3,
  "versionId": "1"
}
